{% extends 'layout.html' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}

{% block body  %}
<div class="content col-md-8 offset-md-2 mt-2">
    <div class="jumbotron">
        <h1 class="display-4">COFFE SHOP EL SAZÓN</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dicta qui accusamus et
            inventore, repellendus consequuntur temporibus optio esse corporis ullam labore doloremque ratione ut magni
            quasi nihil dolor sint!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio maiores ipsam maxime officiis nisi impedit,
            numquam voluptatem! Accusantium ducimus magnam eius alias iste blanditiis, eveniet nihil vitae, laudantium
            voluptatum laborum.</p>

    </div>
</div>

{% endblock %}