{% extends 'layout.html' %}

{% block title %}
<title>Resultados simulacion</title>
{% endblock %}

{% block body %}
    <div class="container col-md-6 offset-md-3 text-center ">
        <div class="card">
            <div class="card-header">
                <h2>Posibles Escenarios</h2>
            </div>
            <div class="card-body">
                <table class="table table-ligth">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Media</th>
                            <th scope="col">Probabilidad</th>
                            <th scope="col">Personas</th>
                            <th scope="col">Costo por Hora</th>
                            <th scope="col">Venta por Hora</th>
                            <th scope="col">Utilidad</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{d.0}}</td>
                            <td>{{d.1}}</td>
                            <td>{{d.2}}</td>
                            <td>{{d.3}}</td>
                            <td>{{d.4}}</td>
                            <td>{{d.7}}</td>
                            {% if d.5 < 0%}
                            <td style="background-color: red;">{{d.5}}</td>
                            {% else %}
                            <td style="background-color: green;">{{d.5}}</td>
                            {% endif %}
                            
                            <td><a href="/viewDetail/{{d.0}}" class="btn btn-success btn-sm">Detalle</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}